
body {
    display: grid;
    background-color: rgb(2, 2, 2);
}

section {
    /* display: grid; */
    background-color: rgb(2, 2, 2);
}

#left{
    grid: 1 2;
    justify-self: center;
}

.body{
    grid: 1 1;
}

.snakeBody {
    background-color: blue;
}

.snake2Body {
    background-color: green;
}

.apple {
    background-color: red;
}



#grid { 
    display: inline-grid; 
    background-color: rgb(5, 5, 5);
    margin: 10% 25%;
    padding: 3%;
    border: 2px solid goldenrod;
    z-index: -1;
    /* width: 100%;
    height: 100%; */
    position: center;
    /* top: 0;
    left: 0; */
}




div { 
    background-color: grey;
    /* grid-template-columns: auto;
    grid-template-rows: auto;*/
    grid-template-columns: repeat(30, 15px);
    grid-template-rows: repeat(30, 15px); 
    margin: 0.5px;
    padding: 0.5px;
}


#endGame {
    font-size: 3rem;
    justify-self: center;
    z-index:10;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#container {
    width: 90%;
    height: 90%;
    margin: 1rem;
    background-color: black;
  }
  
button {
    background-color: lightgrey;
    font-size: 1rem;
}

.snakeSize {
    color:white;
    padding: auto;
    margin: auto;
}