
body {
    display: grid;
    background-color: rgb(2, 2, 2);
}

section {
    display: grid;
    background-color: rgb(2, 2, 2);
    justify-self: center;
}

#up{
    grid: 1 2;
    justify-self: center;
}

#body{
    grid: 1 1;
}

.snakeBody {
    background-color: blue;
}


.apple {
    background-color: red;
}


#grid { 
    display: inline-grid; 
    background-color: rgb(5, 5, 5);
    margin: 1%;
    padding: 3%;
    border: 2px solid goldenrod;
    z-index: -1;
}




div { 
    background-color: grey;
    grid-template-columns: repeat(30, 15px);
    grid-template-rows: repeat(30, 15px); 
    margin: 0.5px;
    padding: 0.5px;
}


#endGame {
    font-size: 3rem;
    justify-self: center;
    z-index:10;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#container {
    width: 90%;
    height: 90%;
    background-color: black;
  }
  
button {
    background-color: lightgrey;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0.5rem;
    width: 50rem;
}

.snakeSize {
    color:white;
    padding: auto;
    margin: auto;
}

.selection {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0.5rem;
    width: 50rem;
}

