

.cl11{
    display: grid;
    grid: 1 1;
}

.snakeBody {
    background-color: blue;
}

.apple {
    background-color: red;
}



#grid { 
    display: inline-grid; 
    background-color: white;
    margin: 5px;
    padding: 5px;
}

div { 
    background-color: grey;
    grid-template-columns: repeat(25, 15px);
    grid-template-rows: repeat(25, 15px);
    margin: 0.5px;
    padding: 0.5px;
}
